@font-face {
	font-family: 'Abel';
	src: url('../fonts/abelrusbydaymarius.eot');
	src: local('☺'), url('../fonts/abelrusbydaymarius.woff') format('woff'), url('../fonts/abelrusbydaymarius.ttf') format('truetype'), url('../fonts/abelrusbydaymarius.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fffcfc;
	font-family: 'Abel', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.header {
	padding: 0 7%;
	min-height: 500px;
	height: 100vh;
	width: 86%;
}

.menu {
	display: none;
	background: url("../media/bar.svg") center / cover no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.navigation {
	background-color: rgb(68 91 95);
	width: 90%;
	min-height: 50px;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
}

.navigation a {
	position: relative;
	text-decoration: none;
	color: #e7e7e7;
	transition: color 0.5s ease;
	z-index:1;
	padding:10px 30px;
	display:inline-block;
    outline:medium none;
    overflow:hidden;
}

.navigation a:hover {
	color: #f26b38;
}

.navigation a::after {
	content: "";
	position: absolute;
	box-sizing: border-box;
	background-color: rgb(0 0 0 / 48%);
    left:50%;
    top:50%;
    height:0;
    width:150%;
    transform:translateX(-50%) translateY(-50%);
    opacity: 0.4;
    transition: height 0.7s ease 0s,
                opacity 0.6s ease 0s;
    z-index:-1;
}

.navigation a:hover::after {
	height:140%;
    opacity:1;
}

.info {
	position: relative;
	margin-top: 3vh;
	width: 100%;
	min-height: 100px;
	height: 17vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.name {
	color: #070707;
	width: 9em;
}

.specifications {
	width: 11em;
}

.radio__form {
	transform: rotate(-90deg);
	transform-origin: 78%;
}

.radio__form input{
	opacity: 0;
	visibility: hidden;
	position: absolute;
	left: -1000px;
	width: 0;
	height: 0;
}

.radio__form input:checked+label {
	color: #070707;
}

.radio__form label {
	font-size: 16px;
	text-transform: uppercase;
	color: #828282;
	transition: color 0.3s ease;
}

.radio__form label:hover {
	cursor: pointer;
}

.radio__form label:nth-last-child(n+2) {
	margin-right: 10px;
	position: relative;
}

.radio__form label:nth-last-child(n+2)::after {
	content: "";
	position: absolute;
	right: -7px;
	bottom: 0;
	width: 1px;
	height: 85%;
	background-color: black;
	cursor: default;
}


.header__img {
	background: url("../media/header__img.jpg") center / cover no-repeat;
	width: 100%;
	min-height: 325px;
	height: 65vh;
}

.about__me {
	background: url("../media/people.jpg") center / cover no-repeat fixed;
	margin-top: 103px;
	padding: 7em 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}

.about__me__wrap {
	border-radius: 15px;
	background-color: rgb(72 105 99 / 53%);
	max-width: 480px;
	min-width: 316px;
	padding: 2em 15%;
}

h2 {
	font-size: 34px;
}

.title {
	margin-bottom: 0.5em;
}

.subtitle {
	font-size: 18px;
}

p+p {
	margin-top: 2em;
}

.skills {
	padding: 7em 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.technologies {
	margin-top: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 100px;
	row-gap: 100px;
	flex-wrap: wrap;
}

.tool {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	background-color: rgba(225, 225, 225, 0.7);
	width: 140px;
	min-height: 200px;
	padding: 10px;
	transition: transform 0.4s ease,
				border-radius 0.4s ease,
				box-shadow 0.5s ease,
				background-color 0.2s ease;
}

.tool:hover {
	transform: scale(1.5);
	background-color: rgba(225, 225, 225, 0.9);
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tool .img {
	height: 88px;
	width: 88px;
}

.html {
	background: url("../media/html.svg") center / cover no-repeat;
}

.CSS3 {
	background: url("../media/css.svg") center / cover no-repeat;
}

.Javascript {
	background: url("../media/js.svg") center / cover no-repeat;
}

.React {
	background: url("../media/react.svg") center / cover no-repeat;
}

.tool p {
	text-transform: uppercase;
	font-size: 14px;
	color: #828282;
	max-width: 130px;
}

.stars {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.portfolio {
	background: url("../media/ise1.jpg") center / cover no-repeat fixed;
}

.portfolio__wrap {
	background-color: rgb(135 100 100 / 57%);
	margin: 0 10%;
	padding: 10vh 0;
	text-align: center;
	color: white;
}

.work {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img__work img {
	display: block;
	max-width: 936px;
	width: 100%;
	height: auto;
	object-fit: cover;
	transition: transform 0.5s ease,
				box-shadow 0.5s ease;
}

.img__work img:hover {
	transform: scale(1.1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}


.text__work {
	margin-top: 3em;
	color: white;
}


.contacs {
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contacs__wrap {
	min-height: 340px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.contacs__info p {
	margin-top: 40px;
	width: 95%;
	max-width: 350px;
}

.contacs button {
	appearance: none;
	padding: 15px 30px 10px 30px;
	border: none;
	border-radius: 20px;
	color: #BDBDBD;
	background-color: #445b5e;
	cursor: pointer;
	transition: color 0.5s ease,
				background-color 0.5s ease;
}


.contacs button:hover {
	background-color: #763939;
	color: white;
}

.socials {
	width: 95%;
	max-width: 330px;
	display: flex;
	justify-content: space-between;

}

.socials a {
	text-decoration: none;
	font-size: 40px;
	color: black;
}

.socials i {
	display: block;
}

.text__socials {
	color: #828282;
	font-size: 14px;
}

@media (max-width: 795px) {
	.radio__form {
		display: none;
	}

	.navigation {
	display: none;
	}

	.info {
	margin-top: 2vh;
	min-height: 150px;
	height: 16vh;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	}
	
	.header__img {
	height: 75vh;
	}

	.menu {
		display: inline-block;
		color: black;
		height: 30px;
		width: 30px;
	}

	.contacs button {
	padding: 15px 120px 10px 120px;
	}
}